{% extends 'base.html' %}

{% block title %}
  Projects
{% endblock %}
{% block body %}

{% load staticfiles %}
  
  <div class="container" style="margin-top:70px;padding-left: 30px;">
    <h2 class="text-info" style="font-family: "Arial;"">All Projects</h2>
    <hr/>
    {% for item in projects.all %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}
        <div class="three columns" style="padding-right: 70px;padding-bottom: 20px;">
          <div class="card" style="width:300px;">
            <img class="card-img-top" height="250px" src="{{ item.image.url }}" alt="No image">
          <div class="card-body">
            <h4 class="card-title"><a href="{% url 'projectdetails' item.id %}">{{ item.title }}</a></h4>
              <a href="{% url 'projectdetails' item.id %}" class="btn btn-success">See complete decsription</a>
          </div>
        </div>
        </div>
        {% if forloop.counter|divisibleby:"3" %}
            </div>
            {% if not forloop.last %}
                <div class="row">
            {% endif %}
        {% endif %}
        {% if forloop.last %}
             </div>
        {% endif %}
    {% endfor %}
      
  </div>
    
{% endblock %}