{% extends 'base.html' %}

{% block title %}
  Mahesh Keswani
{% endblock %}
{% block body %}

{% load staticfiles %}
	<div class="jumbotron text-center">
			
		<h2 class="jumbotron-heading">Mahesh Keswani</h2>
		<p class="lead text-muted">Hey, My name is Mahesh Keswani and I love to make websites with django because I love to work with python.<br/> Python is awesome.</p>

		<a href="mailto:2017.mahesh.keswani@ves.ac.in" class="btn btn-primary my-2"> Email Me</a>
		<br/>
		<img width="300" height="300px" src="{% static 'MaheshPic.jpg' %}" class="img-rounded" style="margin-top: 20px;" alt="No Image" />
	</div>
	

	<a href = "{% url 'allprojects' %}" class="btn btn-info float-right">All Projects...</a>
		
	<div class="container" style="padding-left: 30px;">
		{% for item in projects.all|slice:":3" %}
		    {% if forloop.first %}
		        <div class="row">
		    {% endif %}
		    <div class="three columns" style="padding-right: 70px;padding-bottom: 20px;">
		    	<div class="card" style="width:300px;">
  					<img class="card-img-top" height="250px" src="{{ item.image.url }}" alt="No image">
					<div class="card-body">
						<h4 class="card-title"><a href="{% url 'projectdetails' item.id %}">{{ item.title }}</a></h4>
					    <a href="{% url 'projectdetails' item.id %}" class="btn btn-success">See complete decsription</a>
					</div>
				</div>
		    </div>
		    {% if forloop.counter|divisibleby:"3" %}
	        	</div>
		        {% if not forloop.last %}
		            <div class="row">
		        {% endif %}
	    	{% endif %}
		    {% if forloop.last %}
		         </div>
		    {% endif %}
		{% endfor %}

			
	</div>

{% endblock %}